body {
    background-color: #262927;
}
h1{
    color: #ffcc66;
}
p{
    color:antiquewhite
}
a:link {
    color: #4d88ff;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: #4d88ff;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: #0055ff;
    background-color: transparent;
    text-decoration: underline;
}
a:active {
    color: #4d88ff;
    background-color: transparent;
    text-decoration: underline;
}