{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <title>My Page</title>
  </head>
  <body>
    <h1>My Links</h1>
    <p>
      Here is a list of links that i think are interesting and/or useful, no
      paticular order, this is more or less for personal referecne.
    </p>
    <ul>
      {% for link in links %}
      <li><a href="{{ link.raw_link}}">{{ link.link_name }}</a></li>
      {% endfor %}
    </ul>
  </body>
</html>
